In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from incit.feature_selection.filter import FilterSelector
from incit.feature_selection.wrapper import WrapperSelector

In [2]:
data = pd.read_csv("data/dataset.csv")
data.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [3]:
target = data.pop("target")

train_data, test_data, train_label, test_label = train_test_split(data, target,
                                                                  test_size=0.3, random_state=42)

print(f"El set de entrenamiento tiene {train_data.shape[0]} observaciones, y {train_data.shape[1]} columnas.")
print(f"El set de prueba tiene {test_data.shape[0]} observaciones, y {test_data.shape[1]} columnas.")

El set de entrenamiento tiene 35000 observaciones, y 300 columnas.
El set de prueba tiene 15000 observaciones, y 300 columnas.

## Filter method

In [4]:
variance = FilterSelector(threshold=1.0)
cols_to_drop = variance.apply_variance_selector(data=train_data)

In [5]:
train_data[cols_to_drop].describe()

,var_14,var_23,var_33,var_34,var_44,var_61,var_66,var_67,var_69,var_73,...,var_196,var_201,var_212,var_215,var_225,var_227,var_248,var_287,var_294,var_297
count,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,...,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
train_data = train_data.drop(labels=cols_to_drop, axis=1)
test_data = test_data.drop(labels=cols_to_drop, axis=1)
print(f"Se han eliminado {len(cols_to_drop)} columnas.")

Se han eliminado 42 columnas.

In [7]:
quasi = FilterSelector(threshold=0.998)
quasi_constant = quasi.apply_quasiconstant_selector(data=train_data)

In [8]:
train_data[quasi_constant].describe()

,var_1,var_2,var_3,var_6,var_7,var_9,var_10,var_11,var_12,var_16,...,var_274,var_280,var_282,var_283,var_285,var_286,var_289,var_290,var_298,var_299
count,35000.000000,35000.000000,35000.000000,3.500000e+04,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,...,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000
mean,0.002486,0.000057,17.576147,2.857143e+03,0.000257,0.000257,0.000257,0.082170,0.291649,55.856181,...,0.000771,0.546890,0.001457,0.535729,0.000171,73.226958,0.000086,8.255099,0.003086,13.551139
std,0.116717,0.007559,1382.108843,5.345225e+05,0.027774,0.027774,0.035856,15.372593,40.879086,2558.491747,...,0.048102,102.313825,0.038145,100.225788,0.022678,2945.173943,0.009258,465.083220,0.079583,915.470055
min,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,1.000000,207901.336500,1.000000e+08,3.000000,3.000000,6.000000,2875.948800,6891.459600,377990.085000,...,3.000000,19141.164000,1.000000,18750.528000,3.000000,246477.390600,1.000000,45503.530800,3.000000,134666.681100

In [9]:
train_data = train_data.drop(labels=quasi_constant, axis=1)
test_data = test_data.drop(labels=quasi_constant, axis=1)
print(f"Se han eliminado {len(quasi_constant)} columnas.")

Se han eliminado 97 columnas.

In [10]:
corr_matrix = train_data.corr()

correlation = FilterSelector(threshold=0.9)
correlated_features = correlation.apply_correlation_selector(corr_matrix=corr_matrix)

In [11]:
train_data = train_data.drop(labels=correlated_features, axis=1)
test_data = test_data.drop(labels=correlated_features, axis=1)
print(f"Se han eliminado {len(correlated_features)} columnas.")

Se han eliminado 64 columnas.

In [12]:
print(f"El set de entrenamiento tiene {train_data.shape[0]} observaciones, y {train_data.shape[1]} columnas.")
print(f"El set de prueba tiene {test_data.shape[0]} observaciones, y {test_data.shape[1]} columnas.")

El set de entrenamiento tiene 35000 observaciones, y 97 columnas.
El set de prueba tiene 15000 observaciones, y 97 columnas.

## Wrapper method